:root {
    --medium-blue: #306DB6;
    --light-blue: #E2EFFF;
    
    --grey: #637381;
    --light-grey: #F9F8F7;
    --white-input: #F9F9FF;
    
    --dark-blue: #081642;
    --blue: #3636D8;
    --medium-blue: #3DA4D0;
    --yellow: #E39228;

    --text-xs: 12px;
    --text-sm: 16px;
    --text-md: 20px;
    --text-lg: 28px;
    --text-xl: 40px;
    --text-2xl: 64px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text--xs {
    font-size: var(--text-xs);
}

.text--sm {
    font-size: var(--text-sm);
}

.text--md {
    font-size: var(--text-md);
}

.text--lg {
    font-size: var(--text-lg);
}

.text--xl {
    font-size: var(--text-xl);
}

.text--2xl {
    font-size: var(--text-2xl);
}

.text--bold {
    font-weight: bold;
}

.text--white {
    color: white;
}

.text--grey {
    color: var(--grey);
}

.text--blue {
    color: var(--blue);
}

.text--mediumBlue {
    color: var(--medium-blue);
}

.text--dark-blue {
    color: var(--dark-blue);
}

.text--yellow {
    color: var(--yellow);
}

a {
    text-decoration: none !important;
}

.a--dark-blue {
    color: var(--dark-blue);
    transition: color 0.6s ease-in-out;
}

.a--dark-blue:hover {
    color: var(--medium-blue);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.a--black {
    color: black;
    transition: color 0.6s ease-in-out;
}

.a--black:hover {
    color: var(--blue);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.bg--darkBlue {
    background-color: var(--dark-blue);
}

.bg--mediumBlue {
    background-color: var(--medium-blue);
}

.bg--lightBlue {
    background-color: var(--light-blue);
}

.bg--white-input {
    background-color: var(--white-input);
}

.bg--lightGrey {
    background-color: var(--light-grey);
}

.btn {
    border-radius: 10px;
    padding: 2% 5%;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    color: inherit; 
}

.btn:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn--rounded {
    border-radius: 50px !important;
}

.btn--square {
    aspect-ratio: 1/1;
}

.rounded--md {
    border-radius: 24px !important;
}

.btn--darkBlue {
    background-color: var(--dark-blue) !important;
    color: white !important;
    transition: background-color 0.6s ease-in-out;
}

.btn--darkBlue:hover {
    background-color: var(--light-blue) !important;
    transition: background-color 0.3s ease-in-out;
}

.btn--white {
    background-color: white !important;
    color: var(--dark-blue) !important;
    border: 1px solid var(--dark-blue) !important;
    transition: background-color 0.6s ease-in-out;
}

.btn--white:hover {
    background-color: var(--dark-blue) !important;
    color: white !important;
    transition: background-color 0.3s ease-in-out;
}

.btn--transparent {
    background-color: transparent !important;
    color: var(--yellow) !important;
    border: 1px solid var(--yellow) !important;
    transition: background-color 0.6s ease-in-out;
}

.btn--transparent:hover {
    background-color: rgba(227, 146, 40, 0.3) !important;
    transition: background-color 0.3s ease-in-out;
}

.grid--2cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid--3cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 12px;
}


.grid--4cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.grid--5cols {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
}

.grid--6rows {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 12px;
}

.gap--24 {
    gap: 24px !important;
}

.w--50 {
    width: 50%;
    margin: 0 auto;
}

.w--64 {
    width: 64px;
}

.w--128 {
    width: 128px;
}

.w--480 {
    width: 480px;
}

.mw--240 {
    max-width: 240px;
    margin: 0 auto;
}

.mw--280 {
    max-width: 280px;
    margin: 0 auto;
}

.mw-400 {
    max-width: 400px;
    margin: 0 auto;
}

.mw--720 {
    max-width: 720px;
}

.mw--1440 {
    max-width: 1440px;
    margin: 0 auto;
}

.h--64 {
    height: 64px;
}

.h--320 {
    height: 320px;
}

.h--fit {
    height: fit-content;
}

.h--screen {
    height: 100vh;
}

.w--fit {
    width: fit-content;
}

.w--screen {
    width: 100vw;
}

.list--unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.img--logo {
    width: 92px;
    height: 29px;
}

.p--container {
    padding: 120px 60px;
}

.hr--r{
    border-right: 1px solid var(--dark-blue)
}

.btnSlider{
    background-color: #DBDBDB !important; 
    height:80px !important; 
    width: 80px !important; 
    top:40% !important; 
}

.border--light-grey{
    border: solid var(--light-grey);
    border-radius: 10px;
}


/* Fonts */
.inter-thin {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-medium {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter-semibold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-bold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.mont-thin {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.mont-regular {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.mont-medium {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.mont-semibold {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.mont-bold {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.ul--yellow > li::marker {
    color: var(--yellow);
}

textarea {
    resize: none !important;
}

@media (max-width: 1400px) {
    .grid--5cols {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media (max-width: 990px) {
    .grid--2cols {
        grid-template-columns: 1fr;
    }

    .grid--4cols {
        grid-template-columns: 1fr 1fr;
    }

    .w--50 {
        width: 100%;
    }

    .w--480 {
        width: 100%;
    }

    .p--container {
        padding: 24px;
    }
}

@media (max-width: 767px) {
    .grid--4cols {
        grid-template-columns: 1fr;
    }
    .grid--5cols {
        grid-template-columns: 1fr 1fr;
    }
    .hr--r{
        border-right: none;
    }
    .text--2xl {
        font-size: var(--text-xl);
    }

    .grid--3cols {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 520px) {
    .grid--3cols {
        grid-template-columns: 1fr;
    }
    .grid--5cols {
        grid-template-columns: 1fr;
    }
}