.hero>img {
    min-height: 400px;
    object-fit: cover;
}
.hero--contacto>img {
    min-height: 25px;
    object-fit: cover;
}

.home__bann
.home__banner {
    background-image: url('/public/img/home/banner.png');
    background-size: cover;
    background-position: center;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

.accordion__faq>.accordion-item {
    border: none !important;
    background-color: transparent !important;

}

.accordion__faq>.accordion-item>.accordion-header>button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600 !important;
    color: #000 !important;
    font-size: var(--text-md);
}

.accordion__faq>.accordion-item>.accordion-header>.accordion-button {
    box-shadow: none !important;
}
.accordion__faq__gray>.accordion-item>.accordion-header>.accordion-button.collapsed {
    background-color: var(--light-grey) !important; /* Fondo gris oscuro colapsado */
}

.accordion__faq__gray>.accordion-item>.accordion-header>.accordion-button:not(.collapsed) {
    background-color: var(--light-grey) !important; /* Fondo gris oscuro o diferente al colapsado */
}


.section__clientes {
    background: rgb(255, 191, 85);
    background: linear-gradient(0deg, rgba(255, 191, 85, 1) 0%, rgba(45, 75, 180, 1) 100%);
}

.section__clientes>.splide>.splide__track {
    width: 60%;
    margin: 0 auto;
}

.section__clientes .splide__arrow {
    background-color: transparent;
}

.section__clientes .splide__arrow svg {
    fill: #fff !important;
}

.list--2cols {
    column-count: 2;
    /* Divide en dos columnas */
    column-gap: 20px;
    /* Espaciado entre columnas */
}

.footer--gradient {
    height: 52px;
    width: 100%;
    background: rgb(255, 191, 85);
    background: linear-gradient(270deg, rgba(255, 191, 85, 1) 71%, rgba(45, 75, 180, 1) 91%);
}

.container__reconocimentos {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 48px;
}

.container__reconocimentos >  div {
    width: 30%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 12px 32px;
    border-radius: 16px;
    text-align: center;
}

.section__sistemas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 120px;
}

button.sistema__card {
    border: none;
    background: white;
}

.sistema__card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 48px;
    border-radius: 16px;
    align-content: center;
    text-align: center;
}
.nav-tabs .nav-link.active {
    color: black !important; 
    border: none;
    border-radius: 0;
}

/* Estilo para las pestañas no activas */
.nav-tabs .nav-link {
    color: #6c757d; /* Texto gris */
    transition: all 0.3s ease;
}

/************************** ESTILOS PAGINA DIA */
.nav-tabs-sdi .nav-link.active {
    background-color: var(--blue-sdi);
    border-bottom: 3px solid var(--blue-sdi) !important;
}
.nav-tabs-sdi .nav-link:hover {
    color: var(--blue-sdi); /* Texto negro al pasar el mouse */
}
.ul-sdi li::marker {
    color: var(--blue-sdi);
}
.accordion__faq>.accordion-item>.accordion-header>.accordion-button.collapsed::after {
    color: var(--blue-sdi) !important; /* Color de la flecha para el estado colapsado */

}
.accordion__faq>.accordion-item>.accordion-header>.accordion-button:not(.collapsed)::after {
    color: var(--blue-dia) !important; /* Color de la flecha para el estado abierto */
}


/************************** ESTILOS PAGINA COA */
.nav-tabs-coa .nav-link.active {
    background-color: var(--green-coa);
    border-bottom: 3px solid var(--green-coa) !important;
}
.nav-tabs-coa .nav-link:hover {
    color: var(--green-coa); /* Texto negro al pasar el mouse */
}
.ul-coa li::marker {
    color: var(--green-coa);
}
.accordion__faq>.accordion-item>.accordion-header>.accordion-button.collapsed::after {
    color: var(--green-coa) !important; /* Color de la flecha para el estado colapsado */

}
.accordion__faq>.accordion-item>.accordion-header>.accordion-button:not(.collapsed)::after {
    color: var(--green-coa) !important; /* Color de la flecha para el estado abierto */
}

/************************** ESTILOS PAGINA DIAENLINEA */
.nav-tabs-diaenlinea .nav-link.active {
    background-color: var(--green-diaenlinea);
    border-bottom: 3px solid var(--green-diaenlinea) !important;
}
.nav-tabs-diaenlinea .nav-link:hover {
    color: var(--green-diaenlinea); /* Texto negro al pasar el mouse */
}
.ul-diaenlinea li::marker {
    color: var(--green-diaenlinea);
}
.accordion__faq>.accordion-item>.accordion-header>.accordion-button.collapsed::after {
    color: var(--green-diaenlinea) !important; /* Color de la flecha para el estado colapsado */

}
.accordion__faq>.accordion-item>.accordion-header>.accordion-button:not(.collapsed)::after {
    color: var(--green-diaenlinea) !important; /* Color de la flecha para el estado abierto */
}
/************************** ESTILOS PAGINA SITA */
.nav-tabs-sita .nav-link.active {
    background-color: var(--orange-sita);
    border-bottom: 3px solid var(--orange-sita) !important;
}
.nav-tabs-sita .nav-link:hover {
    color: var(--orange-sita); /* Texto negro al pasar el mouse */
}
.ul-sita li::marker {
    color: var(--orange-sita);
}
.accordion__faq>.accordion-item>.accordion-header>.accordion-button.collapsed::after {
    color: var(--orange-sita) !important; /* Color de la flecha para el estado colapsado */

}
.accordion__faq>.accordion-item>.accordion-header>.accordion-button:not(.collapsed)::after {
    color: var(--orange-sita) !important; /* Color de la flecha para el estado abierto */
}
/************************** ESTILOS PAGINA SDI */
.nav-tabs-dia .nav-link.active {
    background-color: var(--blue-dia);
    border-bottom: 3px solid var(--blue-dia) !important;
}
.nav-tabs-dia .nav-link:hover {
    color: var(--blue-dia); /* Texto negro al pasar el mouse */
}
.ul-dia li::marker {
    color: var(--blue-dia);
}
.accordion__faq>.accordion-item>.accordion-header>.accordion-button.collapsed::after {
    color: var(--blue-dia) !important; /* Color de la flecha para el estado colapsado */

}
.accordion__faq>.accordion-item>.accordion-header>.accordion-button:not(.collapsed)::after {
    color: var(--blue-dia) !important; /* Color de la flecha para el estado abierto */
}

@media (max-width: 992px) {
    .section__sistemas {
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }

    .section__sistemas > div:first-child {
        grid-column: span 2;
        text-align: center !important;
    }
}

@media (max-width: 768px) {
    .section__clientes>.splide>.splide__track {
        width: 100%;
    }

    .container__reconocimentos >  div {
        width: 45%;
    }
}

@media (max-width: 520px) {
    .section__sistemas {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .section__sistemas > div:first-child {
        grid-column: span 1;
        text-align: center !important;
    }

    .container__reconocimentos >  div {
        width: 100%;
    }
}
