.hero>img {
    min-height: 400px;
    object-fit: cover;
}

.home__banner {
    background-image: url('/public/img/home/banner.png');
    background-size: cover;
    background-position: center;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

.accordion__faq>.accordion-item {
    border: none !important;
    background-color: transparent !important;

}

.accordion__faq>.accordion-item>.accordion-header>button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600 !important;
    color: #000 !important;
    font-size: var(--text-md);
}

.accordion__faq>.accordion-item>.accordion-header>.accordion-button {
    box-shadow: none !important;
}

.section__clientes {
    background: rgb(255, 191, 85);
    background: linear-gradient(0deg, rgba(255, 191, 85, 1) 0%, rgba(45, 75, 180, 1) 100%);
}

.section__clientes>.splide>.splide__track {
    width: 60%;
    margin: 0 auto;
}

.section__clientes .splide__arrow {
    background-color: transparent;
}

.section__clientes .splide__arrow svg {
    fill: #fff !important;
}

.list--2cols {
    column-count: 2;
    /* Divide en dos columnas */
    column-gap: 20px;
    /* Espaciado entre columnas */
}

.footer--gradient {
    height: 52px;
    width: 100%;
    background: rgb(255, 191, 85);
    background: linear-gradient(270deg, rgba(255, 191, 85, 1) 71%, rgba(45, 75, 180, 1) 91%);
}

.container__reconocimentos {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 48px;
}

.container__reconocimentos >  div {
    width: 30%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 12px 32px;
    border-radius: 16px;
    text-align: center;
}

.section__sistemas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 120px;
}

button.sistema__card {
    border: none;
    background: white;
}

.sistema__card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 48px;
    border-radius: 16px;
    align-content: center;
    text-align: center;
}

@media (max-width: 992px) {
    .section__sistemas {
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }

    .section__sistemas > div:first-child {
        grid-column: span 2;
        text-align: center !important;
    }
}

@media (max-width: 768px) {
    .section__clientes>.splide>.splide__track {
        width: 100%;
    }

    .container__reconocimentos >  div {
        width: 45%;
    }
}

@media (max-width: 520px) {
    .section__sistemas {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .section__sistemas > div:first-child {
        grid-column: span 1;
        text-align: center !important;
    }

    .container__reconocimentos >  div {
        width: 100%;
    }
}
